outputs/v2.0.gds
IB2306_v3.ipynb
outputs/v2.0_2samples.gds
outputs/v2.0_1sample.gds
outputs/v2.0_1sample_simple.gds
outputs/v2.0_1sample_supersimple.gds
outputs/v2.0_8samples.gds
outputs/v2.0_2samples_simple.gds
outputs/v2.0_4samples_simple.gds
outputs/v2.0_8samples_simple.gds
outputs/20240306_smallmarks.gds
